.home-content#content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-content h1, .home-content p {
  display: flex;
  flex-direction: column;
}

.home-content .home-image {
  margin-left: 4rem;
  flex-shrink: 0;
}

.home-image {
  width: 700px;
  height: 700px;
  border-radius: 5px;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 660px;
  width: 660px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.home-text h1{
  text-align: center;
}

.home-text p {
  line-height: 1.4;
  font-size: 1.75rem;
  padding: 20px;
}
