main {
  width: 50%;
  height: 60%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: gray;
  padding-left: 5%;
}

main h1 {
  font-size: 4.5rem;
  margin-bottom: 10%;
}
main p {
  border-left: 2px solid red;
  line-height: 35px;
  padding-left: 1rem;
}

.stats {
  position: absolute;
  transform: translateX(155%) translateY(33%);
  background: linear-gradient(-40deg, red 0%, orange 15%, black 15% 85%, orange 85%, red 93%);
  width: 35%;
  height: 50%;
  border-radius: 10px;
}

.filler {
  height: 100%;
  background-color: black;
  transform: scale(0.999) translateX(.5%) translateY(.5%);
  border-radius: 10px;
  padding: 10%;
}

.filler h2 {
  font-size: 1rem;
}
