main {
  width: 50%;
  height: 70%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--text-color);
  padding-left: 5%;
}

main h1 {
  font-size: 4.5rem;
  margin-bottom: 10%;
}
main p {
  border-left: 2px solid var(--primary-color);
  line-height: 35px;
  padding-left: 1rem;
}

main p:hover {
  border-left: 2px solid var(--secondary-color);
}


.filler:hover h2 {
  color: var(--fill-color);
}


.hero {
  min-width: 70%;
  max-width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 877px){
  .hero p{
    overflow: scroll;
  }
}
@media (max-width: 570px) and (max-height: 430px) {
  .hero p{
    font-size: 14px;
  }
}

.stats {
  position: absolute;
  transform: translateX(155%) translateY(33%);
  background: linear-gradient(-40deg, var(--primary-color) 0%, var(--secondary-color) 15%, var(--background-color) 15% 85%, var(--secondary-color) 85%, var(--primary-color) 93%);
  width: 35%;
  height: 50%;
  border-radius: 10px;
}

@media (max-width: 500px) and (max-height: 800px) {
  .stats {
    transform: scale(2) translateX(250%) translateY(30%);
  }
}


.stats:hover {
  background: linear-gradient(-40deg, var(--secondary-color) 0%, var(--primary-color) 15%, var(--background-color) 15% 85%, var(--primary-color) 85%, var(--secondary-color) 93%);
}

.filler {
  height: 100%;
  background-color: var(--background-color);
  transform: translateX(.25%) translateY(.25%);
  border-radius: 10px;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filler h2 {
  font-size: 1.25rem;
  margin-top: 10px;
}

.tech-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.tech-icon {
  fill: var(--text-color);
  width: 75px;
  height: 50px;
  transition: all .25s ease-in-out;
}

.tech-icon:hover {
  transform: scale(1.2);
  fill: var(--fill-color)
}

.project-item{
  fill: var(--fill-color);
  height: 50px;
  width: 50px;
}