main {
  width: 50%;
  height: 60%;
  margin-bottom: 10%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: gray;
  padding-left: 5%;
}

main h1 {
  font-size: 4.5rem;
}
main p {
  border-left: 2px solid red;
  line-height: 35px;
  padding-left: 1rem;
}
