* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.5px;
  background-color: inherit;
  color: white
}
button {
  height: 100vh;
  width: 60px;
  z-index: 1;
  transform: translateX(0);
  transition: transform .75s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: transparent;
  border-left: 1px solid gray;
  border-radius: 2px;
}

button.active {
  text-decoration-line: underline;
}



button h5 {
  font-family: 'Raleway', sans-serif;
  transform: rotate(90deg);
  font-size: 1.5rem;
  background-color: inherit;
  position: relative;
}

.icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  transform: translateY(50px) translateX(7.5px);
  gap: 20px;
}

button:hover {
  cursor: pointer;
}

main {
  display: flex;
  overflow: hidden;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 240px;
  padding: 90px;
  background-color: inherit;
  font-size: 1.5rem;
}

p {
  font-family: 'Raleway', sans-serif;

}



button:not(.active) {
  margin: 0;
}

button.active ~ button,
button.active ~ button:last-of-type {
  transform: translateX(calc(100vw - 240px));
  transition: transform .75s cubic-bezier(0.075, 0.82, 0.165, 1);
}






