* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

div#root {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grounded-radiants {
  position: relative;
  border-radius: 10px;
  background: black;
  background-clip: padding-box;
  padding: 1.5rem;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.grounded-radiants::after {
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background: linear-gradient(-40deg, red 0%, orange 15%, black 15% 85%, orange 85%, red 93%);
  content: '';
  z-index: -1;
  border-radius: 10px;
}

