* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #36adae;
  --secondary-color: #c092f3;
  --text-color: #ffffff;
  --fill-color: #71a6fd;
  --background-color: #1a1b27;
}
div#root {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  
  justify-content: space-evenly;
  align-items: center;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.grounded-radiants {
  position: relative;
  border-radius: 10px;
  background: var(--background-color);
  background-clip: padding-box;
  padding: 1.5rem;
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.grounded-radiants::after {
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background: linear-gradient(-40deg, var(--primary-color) 0%, var(--secondary-color) 15%, var(--background-color) 15% 85%, var(--secondary-color) 85%, var(--primary-color) 93%);
  content: '';
  z-index: -1;
  border-radius: 10px;
}

