
.page-selector {
  margin-left: auto;
  font-size: 2.1rem;
  transform: translateY(125%);
  color: inherit;
  scale: 1;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

ul.page-selector {
  text-align: center;
}

.button{
  text-decoration: none;
  transition: all .25s ease-in-out;
  height: fit-content;
  width: fit-content;
  color: inherit;
  border-bottom: 1px solid transparent;
  padding: 2px;
}

.button:hover {
  cursor: pointer;
  color: var(--fill-color);
  border-bottom: 1px solid var(--secondary-color);
}

.button.active {
  border-bottom: 1px solid var(--primary-color);
}



.button.button.active:hover {
  border-bottom: 1px solid var(--primary-color);
}

aside{
  position: relative;
  width: fit-content;
  margin-left: auto;
  transform: translateY(200px);
}