
.page-selector {
  margin-top: 2rem;
  margin-left: auto;
  gap: 2rem;
  font-size: 2.1rem;
  transform: translateY(125%);
  color: inherit;
  scale: 1;
}

.button{
  text-decoration: none;
  transition: all .5s ease-in-out;
  color: inherit;
  padding: 2px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.button.active {
  border-bottom: 1px solid red;
}
