.social-media {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

nav {
  margin-bottom: 0.5rem;
}

.nav a {
  text-decoration: none;
}

li.social-media-item {
 list-style: none;
 height: 35px;
 width: 35px;
 fill: gray;
 transition: all .25s ease-in-out;

}

svg{
  height: 100%;
  width: 100%;
}

path {
  height: 100%;
  fill: inherit
}

li.social-media-item:hover{
  cursor: pointer;
  transform: scale(1.3);
  border-bottom: 1px solid orange;
}